@model IEnumerable<AKT.DVDCentral.BL.Models.Genre>

<ul>
    @foreach(var genre in Model)
    {
        <li>
            <a asp-controller="Movie"
               asp-action="GenreFilter"
               asp-route-id="@genre.ID">
               @genre.Description
            </a>
        </li>
    }
</ul>